<div class="container d-flex justify-content-center bg-main-theme" style="padding-bottom: 170px; padding-top: 100px;">
  <div class="card" style="width: 32rem; height: 32rem;">
    <div style="width:200px ; height:200 px" class="container d-flex justify-content-center mt-2">
      <a routerLink='/quemsomos'>
        <img class="card-img-top my-2"
          src=""
          alt="">
      </a>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group mb-2 mt-1">
          <label for="exampleInputEmail1">Usuário</label>
          <input  type="email" class="form-control" id="emailInput" placeholder="Digite seu e-mail"
            name='email'>
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input  type="password" class="form-control" id="exampleInputPassword1"
            placeholder="Senha" name='senha'>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <button type="submit" class="btn btn-success ml-3" routerLink="/home">Log in</button>
        </div>
        <hr class="mt-2 mb-1">
        <p class="txtcadastrar text-center"><a routerLink="/login-admin">Acesso administrador</a></p>
      </form>
    </div>
  </div>
</div>