/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #ffc300;
}

/* Botão */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #001242;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ffc300;
  border: none;
}

svg {
  margin-left: 00.625rem;
}

/*
 * Base
 */

html,
body {
  height: 100%;
  background-color: #ffff;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #001242;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2rem rgba(0, 18, 66, 0.5);
}

.cover-container {
  width: 100%;
  padding: 0 !important;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  background-color: #001242;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 15%;
  align-items: center;
}

.inner-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 15%;
  align-items: center;
  line-height: normal;
}

.masthead-brand {
  margin-bottom: 0;
  color: #ffc300;
  margin: 0.625rem;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  border-bottom-width: 0.125rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #ffc300;
  border-bottom-color: #ffc300;
  border-bottom-width: 0.125rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.inner {
  max-width: 75%;
  align-self: center;
}
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
  background-color: #001242;
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.inner-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mastfoot-p {
  margin-top: 2rem;
  align-self: center;
}

.mastfoot-p1 {
  font-size: x-small;
  align-self: center;
  width: 100%;
}
